# Node modules
node_modules/

# Build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Vite
.vite/

# Env files
.env
.env.*
/.idea/discord.xml
/.idea/git_toolbox_prj.xml
/.idea/workspace.xml
/.idea/vcs.xml
